<!DOCTYPE html>
<html ng-app="ispotifai">
  <head>
      <title>Ispotifai</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
      <script src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body class="topoPagina" ng-controller="ispotifaiCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img style="width: 50px; height:-300px; vspace:3px; hspace:3px; align:left; margin-top: -15px" src="Images/icone.png">
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <div class="btn-group">
              <button type="button" class="botoesNav btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="alteraMenu(0)">Todos os artistas</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="alteraMenu(4)">Lista de favoritos</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="alteraMenu(6)">Playlists</a></li>
              </ul>
            </div>
          </li>
          <li><button class="botoesNav btn btn-success" type="button" name="button" ng-click="alteraMenu(1)">Adicionar Artista</button></li>
          <li><button class="botoesNav btn btn-success" type="button" name="button" ng-click="alteraMenu(2)">Adicionar Música</button></li>
          <li><button class="botoesNav btn btn-success" type="button" name="button" ng-click="alteraMenu(5)">Adicionar playlist</button></li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Artista" ng-model="procurado.nome">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-disabled="!procurado.nome" ng-click="procuraArtista(procurado)">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </nav>
    <div class="container" ng-show="menuNovaPlaylist">

      <h3 style="text-align: center; font-weight: bold">Adicionar Playlist</h3>

      <div class="botoes">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Nome" ng-model="playlist.nome">
        <button style="margin-top: 5px" class="btn-block btn btn-success" style="width: 400px; margin-right: auto" type="button" ng-click="criaPlaylist(playlist)">Adicionar</button>
      </div>
    </div>

    <div class="container" ng-show="menuArtista">
      <h3 style="text-align: center; font-weight: bold">Adicionar Artista</h3>
      <div class="botoes">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Nome" ng-model="artista.nome">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Imagem" ng-model="artista.imagem">
        <button style="margin-top: 5px" class="btn-block btn btn-success" style="width: 400px; margin-right: auto" type="button" ng-disabled="!artista.nome" ng-click="adicionarArtista(artista)">Adicionar</button>
      </div>
    </div>
    <div class="container" ng-show="menuMusica">
      <h3 style="text-align: center; font-weight: bold">Adicionar Música</h3>
      <div class="botoes">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Nome" ng-model="musica.nome">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Artista" ng-model="musica.artista">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Álbum" ng-model="musica.album">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Ano de Lançamento" ng-model="musica.anoDeLancamento">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Duração" ng-model="musica.duracao">
        <button style="margin-top: 5px" class="btn-block btn btn-success" style="width: 400px; margin-right: auto" type="button" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.anoDeLancamento || !musica.duracao" ng-click="adicionarMusica(musica)">Adicionar</button>

      </div>
    </div>

    <div class="container" ng-show="menuListaDeArtistas">

      <h3 style="text-align: center; font-weight: bold">Lista de artistas encontrados</h3>
      <table style="width: 500px; margin-right: auto; margin-left: auto" class="table" ng-show="listaArtistaProcurado.length > 0">

        <tr>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Nome</h4></th>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Adicionar à lista de favoritos</h4></th>
        </tr>
        <tr ng-repeat="artistaProcurado in listaArtistaProcurado">
          <td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="menuArtistaModal(artistaProcurado)">{{artistaProcurado.nome}}</button></td>
          <td style="text-align: center"><button class="btn btn-success" type="button" name="button" ng-click="adicionaListaDeFavoritos(artistaProcurado)">Add</button></td>
        </tr>
      </table>

    </div>

    <div class="container" ng-show="menuPlaylists">

      <h3 style="text-align: center; font-weight: bold">Minhas playlists</h3>
      <table style="width: 500px; margin-right: auto; margin-left: auto" class="table" ng-show="playlists.length > 0">
        <tr ng-repeat="playlist in playlists">
          <td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalPlaylist" ng-click="menuPlaylistModal(playlist)">{{playlist.nome}}</button></td>
          <td><td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#confirmacaoExcluirPlaylist" ng-click="confirmaExcluirPlaylist(playlist)">Remover</button></td></td>
        </tr>
      </table>

    </div>
    <div ng-show="menuFavoritos" class="container">

      <h3 style="text-align: center; font-weight: bold">Lista de favoritos</h3>
      <table style="width: 500px; margin-right: auto; margin-left: auto" class="table" ng-show="favoritos.length > 0">

        <tr>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Nome</h4></th>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Retirar da lista de favoritos</h4></th>
        </tr>
        <tr ng-repeat="artistaFavorito in favoritos">
          <td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="menuArtistaModal(artistaFavorito)">{{artistaFavorito.nome}}</button></td>
          <td style="text-align: center"><button class="btn btn-success" type="button" name="button" data-toggle="modal" data-target="#confirmacaoExlcuirArtistaFavorito" ng-click="confirmaExcluirArtistaFavoritos(artistaFavorito)">Excluir</button></td>
        </tr>
      </table>

    </div>

    <div ng-show="menuHome" class="container">

      <h3 style="text-align: center; font-weight: bold">Lista de artistas</h3>
      <table style="width: 500px; margin-right: auto; margin-left: auto" class="table" ng-show="artistas.length > 0">

        <tr>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Nome</h4></th>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Adicionar à lista de favoritos</h4></th>
        </tr>
        <tr ng-repeat="artista in artistas">
          <td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" ng-click="menuArtistaModal(artista)">{{artista.nome}}</button></td>
          <td style="text-align: center"><button class="btn btn-success" type="button" name="button" ng-click="adicionaListaDeFavoritos(artista)">Add</button></td>
        </tr>
      </table>

    </div>

    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content *** Usar artistaModal -->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 style="color: black; text-align: center; font-weight: bold" class="modal-title">Artista</h2>
            </div>
            <div style="height: 360px" class="modal-body">
              <div class="">
                <div class="row">
                  <div class="col-md-6">
                    <img style="width: 260px; height: 317px; margin-top: 15px" ng-src="{{artistaModal.imagem}}">
                    </div>
                  <div class="col-md-6">
                    <ul style="width: 250px; height: 250px; margin-top: 15px;" class="list-group">
                      <p style="color: black; font-weight: bold">Nome:</p>
                      <li style="margin-bottom: 5px" class="list-group-item list-group-item-success">{{artistaModal.nome}}</li>
                      <p style="color: black; font-weight: bold">Última Música Ouvida:</p>
                      <li style="margin-bottom: 5px" class="list-group-item list-group-item-success">{{artistaModal.ultimaMusica}}</li>
                      <p style="color: black; font-weight: bold">Nota:</p>
                      <li style="margin-bottom: 5px" class="list-group-item list-group-item-success">{{artistaModal.nota}}</li>
                      <p style="color: black; font-weight: bold">Lista de Álbuns</p>
                      <li style="margin-left: auto; margin-right: auto; margin-bottom: 5px" class="list-group-item list-group-item-success">
                        <div class="dropdown">
                          <button style="width: 120px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Álbuns
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li style="text-align: center" ng-repeat="albumModal in artistaModal.albuns">{{albumModal.nome}}</li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-lg-6">
                  <input style="width: 120px" class="notas form-control" type="text" placeholder="Última Música" ng-model="ultimaMusica">
                  <button style=""class="notas btn btn-success btn-block" type="button" name="button" ng-click="mudaUltimaMusica(artistaModal, ultimaMusica)">Atribuir</button>
                </div>
                <div class="col-lg-6">
                  <input style="width: 120px" class="notas form-control" type="number" placeholder="Nota" ng-model="nota">
                  <button style="" class="notas btn btn-success btn-block" type="button" name="button" ng-click="adicionarNota(artistaModal, nota)">Atribuir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="color: black" class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModalPlaylist" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content *** Usar artistaModal -->
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h2 style="color: black; text-align: center; font-weight: bold" class="modal-title">Músicas</h2>
              <div class="">
                <table ng-show="playlistModal.musicas.length > 0"class="table table-striped">
                  <tr>
                    <th style="text-align: center">Nome</th>
                    <th style="text-align: center">Remover da playlist</th>
                  </tr>
                  <tr ng-repeat="musicaPlaylist in playlistModal.musicas">
                    <td>{{musicaPlaylist.nome}}</td>
                    <td><button class="btn btn-success" type="button" name="button" data-toggle="modal" data-target="#confirmacaoExcluirMusica" ng-click="confirmaExcluirMusica(musicaPlaylist)">Remover</button></td>
                  </tr>
                </table>
                </div>
            </div>
            <div class="modal-footer">
              <input class="playlistBotoes form-control" type="text" placeholder="Música" ng-model="musicaAdd">
              <button class="playlistBotoes btn btn-block btn-success" ng-click="adicionaMusicaPlaylist(musicaAdd)" type="button" name="button">Adicionar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="confirmacaoExlcuirArtistaFavorito" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4 style="color: black; text-align: center">Deseja realmente excluir esse artista  da lista de favoritos?</h4>
            <div style="margin-left: 190px" class="btn-group" role="group">
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal" ng-click="excluirDaListaDeFavoritos()">Sim</button>
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="confirmacaoExcluirPlaylist" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4 style="color: black; text-align: center">Deseja realmente excluir essa playlist?</h4>
            <div style="margin-left: 190px" class="btn-group" role="group">
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal" ng-click="removePlaylist()">Sim</button>
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="confirmacaoExcluirMusica" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h4 style="color: black; text-align: center">Deseja realmente excluir essa música?</h4>
            <div style="margin-left: 190px" class="btn-group" role="group">
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal" ng-click="removeMusicaPlaylist()">Sim</button>
              <button style="width: 100px" type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
