<!DOCTYPE html>
<html ng-app="ispotifai">
  <head>
      <title>Ispotifai</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
      <script src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body class="topoPagina" ng-controller="ispotifaiCtrl">
    <div>
      <h1 style="font-weight: bold">Ispotifai</h1>
    </div>

    <form class="navbar-form" role="search">
      <div class="form-group">
        <button class="btn btn-success" type="button" name="button" ng-click="alteraMenu(1)">Adicionar Artista</button>
        <button class="btn btn-success" type="button" name="button" ng-click="alteraMenu(2)">Adicionar Música</button>
        <input type="text" class="form-control" placeholder="Artista" ng-model="procurado.nome">
        <button type="submit" class="btn btn-success my-2 my-sm-0" ng-click="procuraArtista(procurado)">Buscar</button>
      </div>
    </form>

    <div class="container" ng-show="menuArtista">
      <div class="botoes">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Nome" ng-model="artista.nome">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Imagem" ng-model="artista.imagem">
        <button style="margin-top: 5px" class="btn-block btn btn-success" style="width: 400px; margin-right: auto" type="button" ng-disabled="!artista.nome" ng-click="adicionarArtista(artista)">Adicionar</button>

      </div>
    </div>

    <div class="container" ng-show="menuMusica">
      <div class="botoes">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Nome" ng-model="musica.nome">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Artista" ng-model="musica.artista">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Álbum" ng-model="musica.album">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Ano de Lançamento" ng-model="musica.anoDeLancamento">
        <input style="margin-top: 5px" class="form-control" type="text" placeholder="Duração" ng-model="musica.duracao">
        <button style="margin-top: 5px" class="btn-block btn btn-success" style="width: 400px; margin-right: auto" type="button" ng-disabled="!musica.nome || !musica.artista || !musica.album || !musica.anoDeLancamento || !musica.duracao" ng-click="adicionarMusica(musica)">Adicionar</button>

      </div>
    </div>

    <div class="container" ng-show="menuListaDeArtistas">

      <h3 style="text-align: center; font-weight: bold">Lista de Artistas</h3>
      <table style="width: 500px; margin-right: auto; margin-left: auto" class="table" ng-show="listaArtistaProcurado.length > 0">

        <tr>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Nome</h4></th>
          <th style="text-align: center" class="thead-dark"><h4 style="font-weight: bold">Adicionar à lista de favoritos</h4></th>
        </tr>
        <tr ng-repeat="artista in listaArtistaProcurado">
          <td style="text-align: center"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">{{artista.nome}}</button></td>
          <td style="text-align: center"><button class="btn btn-success" type="button" name="button" ng-click="adicionarListaDeFavoritos(artista)">Add</button></td>
        </tr>
      </table>
      
    </div>

    <div class="container">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    </div>

  </body>
</html>
