.topoPagina{
  background-color: #001a00;
  background-image: url("Images/index-background.jpg");
  background-repeat: round;
  background-attachment: fixed;
  color: white;
}

.botoes{
  width: 400px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.playlistBotoes{
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.notas{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;

}
